.balance-card-today-additions {
  margin-top: 8px;
  font-size: 14px;
  color: #52c41a;
  font-weight: 500;
}

.ant-statistic-content {
    text-align: center;
}

.balance-card-today-additions {
    text-align: center;
}

.ant-statistic-content-value {
    color: var(--app-text);
    font-size: 3rem;
}